<div class="header">
    <img class="katie_sian_logo" src="assets/logo_1.jpg" alt="Katie Sian Holistics logo">

    <div class="burger-menu" id="burgerMenu">☰</div>

    <div class="header-buttons" id="navMenu">
      <button class="header-button" type="button" (click)="goHome()">Home</button>
      <button class="header-button" type="button" (click)="goToAbout()">About</button>
      <button class="header-button" type="button" (click)="goToServices()">Services</button>
      <button class="header-button" type="button" (click)="goToContact()">Contact</button>

  <div class="dropdown" [class.open]="isDropdownOpen">
    <button class="header-button dropdown-toggle" type="button" (click)="toggleDropdown()">
      Digital Products
    </button>
    <div class="dropdown-menu">
      <a href="https://gumroad.com/product1" target="_blank">Product 1</a>
      <a href="https://gumroad.com/product2" target="_blank">Product 2</a>
      <a href="https://gumroad.com/product3" target="_blank">Product 3</a>
    </div>
  </div>
  </div>
