.header {
    width: 100%;
    height: auto; 
    min-height: 80px;
    background-color: #83C5BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000; 
    padding: 10px 20px; 
  }
  
  .katie_sian_logo {
   width: 120px;
   height: 120px;
   padding-left: 10px;
   border-radius: 50%;
  }
  
  .header-buttons {
   /* outline: 2px solid red;*/
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
   /* z-index: 999;*/
   z-index: 100;
    position: relative;
  }
  
  .header-button {
    all: unset;
    font-size: 1.75rem;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
  }
  
.header-button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.header-button:hover::after {
  width: 100%;
}

  .burger-menu {
  display: none;
  font-size: 2.5rem;
  padding-right: 20px;
  cursor: pointer;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
   z-index: 1000; 
}

/* Dropdown menu hidden by default */
.dropdown-menu {
  display: none; /* hidden initially */
  position: absolute;
  top: 100%; /* directly below button */
  left: 0;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 8px;
  z-index: 1000;
  flex-direction: column; /* stack items vertically */
  padding: 0;
  margin: 0;
  z-index: 200;      /* higher than page content */
  width: max-content;
}

/* Show dropdown only when open */
.dropdown.open .dropdown-menu {
  display: flex; /* vertical stack */
  flex-direction: column;
}

/* Links inside dropdown */
.dropdown-menu a {
  display: block; /* stack vertically */
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  text-align: center;
}

/* Hover effect */
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

@media (max-width: 1125px) {
  .header-buttons {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #83C5BE;
    position: absolute;
    top: 100%;
    width: 120px; 
    right: 0;
    text-align: right;
    padding: 10px 20px;
     z-index: 1100;
     margin-right: 55px;
  }

  .header {
  overflow: visible; 
}

  .header-buttons.active {
    display: flex;
  }

   .header-button {
    all: unset; 
    padding: 1rem;
    font-size: 1.5rem;
    color: black; 
    text-align: center;
    cursor: pointer;
  }

  .burger-menu {
    display: block;
    margin-right: 70px;
  }

  .dropdown-menu {
    /*width: 100px;*/
  }

  .dropdown.open {
    padding: 10px 20px;
    
    text-align: center;
  }

}