.header {
    width: 100%;
    height: auto; 
    min-height: 80px;
    background-color: #83C5BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000; 
    padding: 10px 20px; 
  }
  
  .katie_sian_logo {
   width: 120px;
   height: 120px;
   padding-left: 10px;
  }
  
  .header-buttons {
   /* outline: 2px solid red;*/
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    z-index: 999;
  }
  
  .header-button {
    all: unset;
    font-size: 1.75rem;
  }

  .burger-menu {
  display: none;
  font-size: 2.5rem;
  padding-right: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-buttons {
    display: none;
    flex-direction: column;
    background-color: #83C5BE;
    position: absolute;
    top: 100%;
    width: 120px; 
    right: 0;
    text-align: right;
    padding: 10px 20px;
     z-index: 1100;
     margin-right: 55px;
  }

  .header {
  overflow: visible; 
}

  .header-buttons.active {
    display: flex;
  }

   .header-button {
    all: unset; 
    padding: 1rem;
    font-size: 1.5rem;
    color: black; 
    text-align: right;
    cursor: pointer;
  }

  .burger-menu {
    display: block;
    margin-right: 70px;
  }
}