<div class="header">
    <img class="katie_sian_logo" src="assets/logo_1.jpg" alt="Katie Sian Holistics logo">

    <div class="burger-menu" id="burgerMenu">☰</div>

    <div class="header-buttons" id="navMenu">
      <button class="header-button" type="button" (click)="goHome()">Home</button>
      <button class="header-button" type="button" (click)="goToAbout()">About</button>
      <button class="header-button" type="button" (click)="goToServices()">Services</button>
      <button class="header-button" type="button" (click)="goToContact()">Contact</button>
    </div>
  </div>
