<div class="subject-detail-container">
  <button class="back-button" routerLink="/">← Back to Home</button> 
    <div id="top"></div>
  <div class="subject-detail-content-wrapper">
    <div class="subject-detail-content" *ngIf="subject">
      <h2>{{ subject.subHeading }}</h2>
      <h4>{{ subject.title }}</h4>
      <div class="subject-description" [innerHTML]="subject.description"></div>
      <img [src]="subject.image" alt="{{ subject.title }}" class="subject-image" />

      <ng-container *ngIf="subject.tidyCallLinks?.length; else comingSoon">
      <div class="booking-buttons">
        <a 
          *ngFor="let link of subject.tidyCallLinks" 
          [href]="link.url" 
          target="_blank" 
          class="booking-button"
        >
          Book {{ link.label }}
        </a>
      </div>
      </ng-container>

      <ng-template #comingSoon>
        <button class="booking-button" disabled>Coming Soon</button>
      </ng-template>
    </div>
  </div>
</div>
