<div class="subjects">
  <a 
    *ngFor="let subject of subjects"
    class="subject-link"
    [routerLink]="['/subject', subject.id]"
    [state]="{ subject: subject }"
  >
    <div class="subject">
      <h3>{{ subject.subHeading }}</h3>
            <ng-container *ngIf="subject.logo; else showTitle">
        <img [src]="subject.logo" [alt]="subject.title" class="subject-image" />
      </ng-container>
      <ng-template #showTitle>
        <p>{{ subject.title }}</p>
      </ng-template>
    </div>
  </a>
</div>
