
main {
  width: 100%;
  height: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;*/
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding-top: 80px; 
}

.subjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive */
  gap: 20px;
  padding: 20px;
}

.subject {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px; 
}

.subject:hover {
  transform: translateY(-4px);
}

.subject h3 {
  margin-top: 0;
  font-size: 1.3rem;
}

.subject p {
  margin: 6px 0;
}

.subject-link {
  text-decoration: none;
  color: inherit; 
}

footer {
  background-color: #83C5BE;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.get-in-touch {
  text-align: center;
}

.get-in-touch p {
  font-size: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  display: inline-block;
}

.social-links img {
  width: 30px; 
  height: 30px; 
  margin: 0 10px; 
}

.accreditation img {
  max-height: 50px; 
  max-width: 100%; 
  margin-top: 10px;
  padding-right: 10px;
}

/* For small screen sizes */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-left, .footer-center, .footer-right {
    flex: 0 0 100%; 
    margin-bottom: 10px;
  }

  .social-links {
    gap: 10px; 
  }
}