<div id="top"></div>

<div class="content">
    <div class="opening">
      <div class="opening-text">
        <div class="title">Katie Sian Therapies</div>
        <div class="tag-line">Solution Focused Therapy, Hypnotherapy and Holistic Massage</div>
        <div class="slogan">Children, Teenagers and Adults</div>
        <div class="details">📍Based in Clevedon</div>
        <div class="details">🌐 Zoom Clients welcome</div>
      </div>


      <div class="opening-image">
        <div class="hero-image-container">
          <img class="hero-image" src="assets/Katie3.jpg" alt="Katie photo">
        </div>
      </div>
    </div>

    <div class="intro"id="about">
      <div class="intro-text">
       <div> <strong>Hi, I’m Katie</strong> </div>
       <div>
        <p>I’m a qualified Holistic Massage Therapist (MTI), Solution Focused Hypnotherapist (BSc Hons, DSFH, AfSFH), and a qualified teacher with over 15 years’ experience in education. I believe that real change happens when we support both the mind and the body, and this belief sits at the heart of my work.</p>
        <p>I offer massage therapy, solution focused hypnotherapy, or a combination of both for adults. For children and young people aged 8+, I offer solution focused hypnotherapy only, with a particular focus on anxiety and confidence.</p>
        <p>Having navigated my own challenges, I know just how powerful this work can be. It helped me when I needed it most, and now I’m passionate about sharing it with others. My sessions are calm, practical and tailored to you, helping you feel lighter, clearer and more able to move forward.</p>
        <p>I offer a range of flexible packages so we can find an approach that feels right for you.</p>
        <p>If you’re curious about how I work, I offer a free initial phone consultation to see whether I’m the right fit for you or your child.</p>
        <p><strong>Get in touch and take the first step towards a calmer, more positive future.</strong></p>
        </div>
      </div>

      <div class="book-an-appointment">
        <a href="https://tidycal.com/katiesian" target="_blank" class="booking-button">
        Book an Appointment
        </a>
      </div>

      <div id="services">
      <app-subject-list></app-subject-list>
      </div>
       <div class="reviews-section" *ngIf="reviews.length > 0">
        <div class="review-card">
          <p class="review-text">"{{ reviews[currentReviewIndex].text }}"</p>
          <p class="review-name">{{ reviews[currentReviewIndex].name }}</p>
          <p class="review-location">{{ reviews[currentReviewIndex].location }}</p>
        </div>
      </div>

    </div>
