<div class="content">
    <div class="opening">
      <div class="opening-text">
        <div class="title">Katie Sian Therapies</div>
        <div class="slogan">Empowering Minds for Life</div>
        <div class="tag-line">Solution Focused Therapy for All Ages in Clevedon, North Somerset</div>
      </div>


      <div class="opening-image">
        <div class="hero-image-container">
          <img class="hero-image" src="assets/logo_1.jpg" alt="Katie photo">
        </div>
      </div>
    </div>

    <div class="intro">
      <div class="intro-text">
       <div> Hi, I’m Katie!</div>
       <div>I am a qualified Solution Focused Therapist and Clinical Hypnotherapist (Bsc Hons,
        DSFH, AfSFH) and a qualified teacher with over 15 years of experience in education.
        My passion lies in helping people of all ages overcome challenges, build confidence
        and create positive change in their lives. With my background in education, I
        specialise in working with young people aged 8+, particularly those navigating
        anxiety, neurodiversity and trauma.
        Having faced my own challenges, I know how powerful solution-focused therapy can
        be.  It&#39;s what helped me, and now I am on a mission to share it with others.  
        My sessions are relaxed, practical and tailored to each individual, leaving you feeling
        lighter, clearer and ready to take positive steps forward. If you’re wondering whether
        hypnotherapy could help, I offer a free initial phone consultation to explain how I
        work and see if I’m the right fit for you or your child.
        Get in touch today and take the first step towards a more positive future.
        </div>
      </div>

      <div class="book-an-appointment">
        <a href="https://tidycal.com/stephski483/30-minute-meeting" target="_blank" class="booking-button">
        Book an Appointment
        </a>
      </div>
      <app-subject-list></app-subject-list>

    </div>
